.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);

}
.modalContent {
  position:fixed;
  background: white;
  width: auto;
  max-width: 90%;
  height: auto;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}


.displayBlock {
  display: block;
}

.displayNone {
  display: none;
}

.playButton {
  display: block;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -30px;
  background-color: #0f1622;
  background-color: rgba(15,22,34,0.9);
  border-radius: 3px;
  content: "";
  height: 60px;
  position: absolute;
  width: 80px;
}
.playButton::after {
  border-right: none;
  border-left: 10px solid #fff;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  height: 0;
  width: 0;
  left: 50%;
  top: 50%;
  margin-left: -10px;
  margin-top: -10px;
  border-left-width: 20px;
  content: "";
  position: absolute;
}

.fakePreview{
  display: block;
  position: relative;
  width:auto;
  height: auto;
  margin: 0 auto;
  cursor: pointer;
}

.fakePreview img{
  width: 100%;
}

.closeButton{
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: -2rem;
  right: -2rem;
  color: #ffff;
  font-size: 2rem;
  font-weight: lighter;
  text-align: left;
  vertical-align: middle;
}

.relativeWrapper{
  position: relative;
}

.sizeAuto{
  width: auto;
  height: auto;
}

.sizeAuto > video{
  position: relative;
}

@media only screen and (max-width: 780px) {
  .modalContent{
    width: 100%;
    max-width: 100%;
  }

  .closeButton{
    right:0;
    text-align: right;
  }
}

@media only screen and (min-width:1080px) {
  .sizeAuto{
    min-width: 960px;
    width: auto;
  }
}

@media only screen and (min-width:1204px) {
  .sizeAuto{
    min-width: 1080px;
    width: auto;
  }
}

@media only screen and (min-width:  870px) and (max-width:1080px) {
  .sizeAuto{
    width: 780px;
  }
}